/*
    Blog Styles

    bl -> blog list
    bp -> blog page
 */

ul.pointless.bl {
  list-style-type: disc;

  & > li {
    display: list-item;

    & > a > span {
      font-family: monospace;
      font-size: small;
      opacity: 0.5;
    }
  }
}

section {
  &.bl {
    padding-inline: 1em;
  }

  &.bp {
    h2 {
      font-size: 1.35em;
    }

    pre:has(code) {
      overflow-x: auto;
      white-space: pre;
      font-size: medium;
      padding: 0.42em;
    }
  }
}

@media (min-width: 480px) {
  section {
    &.bl {
      max-width: fit-content;
    }
    &.bp {
      max-width: 50vw;
      max-width: 50dvw;
    }
  }
}
