<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Set title and description variables -->
    {% if page.title %} {% set base_title = page.title %} {% elif section.title
    %} {% set base_title = section.title %} {% else %} {% set base_title =
    config.title %} {% endif %} {% if page.description %} {% set
    base_description = page.description %} {% elif section.description %} {% set
    base_description = section.description %} {% else %} {% set base_description
    = config.description %} {% endif %}

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://cybar.dev" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ base_title }}" />
    <meta property="og:description" content="{{ base_description }}" />
    <meta
      property="og:image"
      content="https://cybar.dev/_assets/images/preview.png"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="cybar.dev" />
    <meta property="twitter:url" content="https://cybar.dev" />
    <meta name="twitter:title" content="{{ base_title }}" />
    <meta name="twitter:description" content="{{ base_description }}" />
    <meta
      name="twitter:image"
      content="https://cybar.dev/_assets/images/preview.png"
    />

    <!-- OpenGraph Meta Tags Generated via https://www.opengraph.xyz -->

    <meta name="description" content="{{ base_description }}" />
    <!-- prettier-ignore -->
    <title>{% block title %}{{ base_title }}{% endblock title %}</title>
    <link
      rel="alternate"
      type="application/rss+xml"
      title="{{ config.title }} — RSS Feed"
      href='{{ get_url(path="rss.xml") }}'
    />
    <link
      rel="alternate"
      type="application/atom+xml"
      title="{{ config.title }} — Atom Feed"
      href='{{ get_url(path="atom.xml") }}'
    />
    <link rel="icon" href="/_assets/images/favicon.ico" />
    <link rel="stylesheet" href="/_assets/css/simple.css" />
    {% block style %}
    <link rel="stylesheet" href="/_assets/css/style.css" />
    {% endblock style %}
  </head>

  <body>
    <main>{% block content %}{% endblock content %}</main>
    <footer>
      {% block footer %}
      <p id="copyright">
        Built with
        <a href="https://simplecss.org/" title="SimpleCSS website">Simple</a
        >&nbsp;&horbar;&horbar;[&nbsp;<input
          type="checkbox"
          id="theme-switch"
          name="theme-switch"
        /><label for="theme-switch"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            fill="currentColor"
            class="bi bi-moon-stars-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278"
            />
            <path
              d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.73 1.73 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.73 1.73 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.73 1.73 0 0 0 1.097-1.097zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"
            /></svg
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            fill="currentColor"
            class="bi bi-sun-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708"
            /></svg></label
        >&nbsp;]&horbar;&horbar;
        <a
          href="https://github.com/cybardev/cybardev.github.io"
          title="Source repository"
          >cybardev</a
        >&nbsp;&COPY;&nbsp;2025&nbsp;
      </p>
      {% endblock footer %}
    </footer>
    <script src="/_assets/js/script.js"></script>
  </body>
</html>
