<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="robots" content="noai, noimageai" />

    <!-- Set title and description variables -->
    {% if page.title %} {% set base_title = page.title %} {% elif section.title
    %} {% set base_title = section.title %} {% else %} {% set base_title =
    config.title %} {% endif %} {% if page.description %} {% set
    base_description = page.description %} {% elif section.description %} {% set
    base_description = section.description %} {% else %} {% set base_description
    = config.description %} {% endif %}

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://cybar.dev" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ base_title }}" />
    <meta property="og:description" content="{{ base_description }}" />
    <meta
      property="og:image"
      content="https://cybar.dev/assets/images/preview.png"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="cybar.dev" />
    <meta property="twitter:url" content="https://cybar.dev" />
    <meta name="twitter:title" content="{{ base_title }}" />
    <meta name="twitter:description" content="{{ base_description }}" />
    <meta
      name="twitter:image"
      content="https://cybar.dev/assets/images/preview.png"
    />

    <!-- OpenGraph Meta Tags Generated via https://www.opengraph.xyz -->

    <meta name="description" content="{{ base_description }}" />
    <!-- prettier-ignore -->
    <title>{% block title %}{{ base_title }}{% endblock title %}</title>
    <link
      rel="alternate"
      type="application/rss+xml"
      title="{{ config.title }} — RSS Feed"
      href='{{ get_url(path="rss.xml") }}'
    />
    <link
      rel="alternate"
      type="application/atom+xml"
      title="{{ config.title }} — Atom Feed"
      href='{{ get_url(path="atom.xml") }}'
    />
    <link rel="icon" href='{{ get_url(path="assets/images/favicon.ico") }}' />
    <link rel="stylesheet" href='{{ get_url(path="assets/css/simple.css") }}' />
    {% block style %}
    <link rel="stylesheet" href='{{ get_url(path="assets/css/style.css") }}' />
    {% endblock style %}
  </head>

  <body>
    <a href="https://en.wikipedia.org/wiki/Gaza_genocide">
      <img
        id="watermelon"
        src='{{ get_url(path="assets/images/watermelon.svg") }}'
        alt="pixel art of a slice of watermelon with red juice flowing out in a puddle, with a shadow behind the slice"
      />
    </a>
    <main>{% block content %}{% endblock content %}</main>
    <footer>
      {% block footer %}
      <p id="copyright">
        Built with
        <a href="https://simplecss.org/" title="SimpleCSS website">Simple</a
        >&nbsp;&horbar;&horbar;<code id="lambda"><a href="/">(λ)</a></code
        >&horbar;&horbar;
        <a
          href="https://github.com/cybardev/cybardev.github.io"
          title="Source repository"
          >cybardev</a
        >&nbsp;&COPY;&nbsp;2021-{{ now() | date(format="%Y") }}&nbsp;
      </p>
      {% endblock footer %}
    </footer>
  </body>
</html>
