{% extends "base.html" %}
<!-- prettier-ignore -->
{% block style %} {{ super() }}
<link rel="stylesheet" href="/_assets/css/blog.css" />
{% endblock style %} {% block content %}
<section class="bl">
  <h1 class="bl">Blog Posts</h1>
  <ul class="bl pointless">
    {% for page in section.pages %}
    <li>
      <a href="{{ page.permalink }}"
        ><span>[{{ page.date | date(format="%Y %b %d") }}]</span>&nbsp;{{
        page.title }}</a
      >
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock content %}
